* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: #222;
    margin: 0 auto;
    width: 90vw;

    font-family: 'Montserrat';
}

.center-dialog {
  height: 40vh;
}

.card-body {
  text-align: center;
}

.card-body input {
  margin: 10px auto;
  display: block;
}

.navbar-nav {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.navbar-nav a {
  text-align: center;
}

.material-icons {
  padding-top: 2rem;
}

.material-icons:hover {
  cursor: pointer;
}
