* {
    box-sizing: border-box;
}

body {
  background-color: white;
  color: #222;
  margin: 0 auto;
  width: 90vw;

    font-family: 'Montserrat';
}

.nav-desktop {
  width: 90vw;
}

.nav-desktop a {
  text-align: center;
  width: auto;
}

.center-dialog {
  height: 40vh;
}

.material-icons {
  padding-top: 2rem;
}

.material-icons:hover {
  cursor: pointer;
}

