* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: #222;
    margin: 0 auto;
    width: 90vw;

    font-family: 'Montserrat';
}

.nav-desktop {
  width: 90vw;
}

.nav-desktop a {
  text-align: center;
  width: auto;
}

.center-dialog {
  height: 40vh;
}

.card-body {
  text-align: center;
}

.card-body input {
  margin: 10px auto;
  display: block;
}

.material-icons {
  padding-top: 2rem;
}

.material-icons:hover {
  cursor: pointer;
}

