
.sticky-nav {
  display: none;
}

.header-nav {
  display: block;
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .sticky-nav {
    bottom: 0;
    display: block;
    background-color: #808080;
    height: 10vh;
  }

  .sticky-nav-text {
    font-size: 7vmin;
    text-align: center;
    color: whitesmoke;
  }

  .sticky-nav-text:hover {
    cursor: pointer;
  }
}

/* @media screen and (max-width: 576px) {
  .sticky-nav-text {
    font-size: 5vmin;
  }
} */
